@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
.font-silk-screen{
  font-family: "Silkscreen";
}

.cursor i {
  display: block;
  width: 10px;
  height: 4px;
  bottom: 4px;
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal; /* not "linear" */
  -webkit-animation-fill-mode: forwards;
  opacity: 1;
}
@keyframes blink {
  0% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}