@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --background: #ffffff;
    --foreground: #171717;
    --white10: rgba(255,255,255,.1);
    --black10: rgba(0,0,0,.1);
    --content: "";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--foreground);
    background: var(--background);
}
.font-silk-screen{
    font-family: "Silkscreen";
}
.font-roboto-mono{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header{
    top: -100px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}
.header.sticky{
    top: 0;
}
.cursor i {
  display: block;
    width: 10px;
    height: 4px;
    bottom: 14px;
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal; /* not "linear" */
    -webkit-animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
body{
    position: relative;
    transition: transform 500ms ease-in-out;
    -webkit-transition: transform 500ms ease-in-out;
    .nav-menu .dropdown-item{
        height: 0px;
        &.open{
            height: max-content;
            transition: height 0.5 ease-in-out;
        }
    }
}
body:has(.sidebar.open){
    overflow: hidden;
}


html{
    .bg-dotted-pattern{
        padding: 0;
        margin: 0;
        background-size: 10px 10px;
    }
    a,button{
        &:hover .mouse{
            background: #555555 !important;
            transform: scale(110);
        }
    }
    .mouse, .mouse-dot{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 50%;
        pointer-events: none;
        display: flex;
        z-index: 100000;
        animation: .1s;
    }
    .mouse{
        position: fixed;
        top: -15px;
        left: -15px;
        width: 24px;
        height: 24px;
        -webkit-transition: all .08s ease-out;
        -o-transition: all .08s ease-out;
        transition: all .08s ease-out;
        mix-blend-mode: multiply;
    }
    .mouse-dot{
        position: fixed;
        top: -15px;
        left: -15px;
        width: 5px;
        height: 5px;
        -webkit-transition: all .09s ease-out;
        -o-transition: all .09s ease-out;
        transition: all .09s ease-out;
    }
    // light mode
    &.light{
        .mouse{ border-color: #606887; }
        .mouse-dot{ background: rgba(0, 0, 0, .7);}
        .with-line-numbers{
            counter-reset: line-count;
            position: relative;
            .line{
                counter-increment: line-count;
                &::before {
                    content: counter(line-count);
                    width: 20px;
                    text-align: right;
                    -webkit-user-select: none;
                    user-select: none;
                    color: rgb(0,0,0,.4);
                    display: inline-block;
                    position: absolute;
                    left: 0;
                }
            }
        }
        .bg-dotted{
            --dotSize: 1px;
            padding: 0;
            margin: 0;
            background-image: radial-gradient(circle at center, rgb(150, 150, 150) var(--dotSize), transparent 0);
            background-size: 30px 30px;
        }
        .bg-dotted-pattern{
            background-image: radial-gradient(circle, rgb(94, 94, 94) 1px, transparent 1px);
        }
        .nav-menu li{
            color: #555555;
        }
        .chonky-underline-blue{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #2c49d885 0%, #2c49d834 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-megenta{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #df058b85 0%, #df058b34 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-yellow{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #ff6b2b83 0%, #ff6b2b39 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-indigo{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after {
                transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #9440e8 0%, #9440e8 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .element-widget{
            font-family: "Roboto Mono";
            position: relative;
            &::after{
                opacity: 0.3;
                content: '';
                width: 0;
                height: 60%;
                position: absolute;
                background-color: darkgray;
                border: 0.1px solid darkgray;
                bottom: 20%;
                left: 2px;
            }
            .element-h2{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: rgba(0,0,0,1);
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<h2>"; margin-bottom: 5px; }
                &::after{ content: "</h2>"; margin-top: 10px; }
            }
            .element-h3{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: rgba(0,0,0,1);
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<h3>"; margin-bottom: 5px; }
                &::after{ content: "</h3>"; margin-top: 10px; }
            }
            .element-p{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: rgba(0,0,0,1);
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<p>"; margin-bottom: 5px; }
                &::after{ content: "</p>"; margin-top: 10px; }
            }
            .element-strong{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: rgba(0,0,0,1);
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: '<strong class="'attr(data-class-light)'">'; margin-bottom: 5px; }
                &::after{ content: "</strong>"; margin-top: 10px; }
            }
        }
        .inline-widget-element{
            .element-h3{
                display: flex;
                gap: 4px;
                align-items: center;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: black;
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                }
                &::before{ content: "<h3>"; }
                &::after{ content: "</h3>"; }
            }
        }
        .portfolio{
            display: grid;
            .container{
                position: relative;
                .pipeline{
                    position: relative;
                    &::before{
                        // top: 0;
                        left: -100%;
                        width: 200vw;
                        position: absolute;
                        content: " ";
                        border-top: 1px solid var(--black10);
                    }
                }
            }
        }
        .element{
            position: relative;
            &::before{
                content: "";
                top: 18px;
                left: 0;
                height: calc(100% - 35px);
                position: absolute;
                border-left: 1px solid rgba(0, 0, 0,.1);
            }
        }
    }
    // dark mode
    &.dark{
        .mouse {
            border-color: #f3f2f9;
            mix-blend-mode: difference;
        }
        .mouse-dot {
            background-color: #f3f2f9;
        }
        .with-line-numbers{
            counter-reset: line-count;
            position: relative;
            .line{
                counter-increment: line-count;
                &::before {
                    content: counter(line-count);
                    width: 20px;
                    text-align: right;
                    -webkit-user-select: none;
                    user-select: none;
                    color: rgb(255,255,255,.4);
                    display: inline-block;
                    position: absolute;
                    left: 0;
                }
            }
        }
        .bg-dotted{
            --dotSize: 1px;
            padding: 0;
            margin: 0;
            background-image: radial-gradient(circle at center, rgb(112, 112, 112) var(--dotSize), transparent 0);
            background-size: 30px 30px;
        }
        .bg-dotted-pattern{
            background-image: radial-gradient(circle, rgb(52, 52, 52) 1px, transparent 1px);
        }
        .nav-menu li{
            color: #ededed;
        }
        .chonky-underline-blue{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #2C49D8 0%, #2C49D8 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-megenta{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #DF058D 0%, #DF058D 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-yellow{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after{
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #FF6B2B 0%, #FF6B2B 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .chonky-underline-indigo{
            transition: all 0.1s ease-in-out;
            position: relative;
            z-index: 100;
            &::after {
                content: " ";
                position: absolute;
                width: 102%;
                left: 0;
                bottom: 3px;
                z-index: -1;
                height: 0.3em;
                background: linear-gradient(65deg, #9440e8 0%, #9440e8 100%, rgba(255, 209, 0, 0) 100%);
            }
        }
        .element-widget{
            font-family: "Roboto Mono";
            position: relative;
            
            &::after{
                opacity: 0.3;
                content: '';
                width: 0;
                height: 60%;
                position: absolute;
                background-color: darkgray;
                border: 0.1px solid darkgray;
                bottom: 20%;
                left: 2px;
            }
            .element-h3{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: white;
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<h3>"; margin-bottom: 5px; }
                &::after{ content: "</h3>"; margin-top: 10px; }
                
            }
            .element-h4{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: white;
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<h4>"; margin-bottom: 5px; }
                &::after{ content: "</h4>"; margin-top: 10px; }
                
            }
            .element-p{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: white;
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: "<p>"; margin-bottom: 5px; }
                &::after{ content: "</p>"; margin-top: 10px; }
            }
            .element-strong{
                padding-left: 35px;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: white;
                    display: block;
                    margin-left: -35px;
                    font-size: 14px;
                }
                &::before{ content: '<strong class="'attr(data-class-dark)'">'; margin-bottom: 5px; }
                &::after{ content: "</strong>"; margin-top: 10px; }
            }
        }
        .inline-widget-element{
            .element-h3{
                display: flex;
                gap: 4px;
                align-items: center;
                &::before,
                &::after{
                    opacity: 0.3;
                    color: rgba(255, 255, 255,.5);
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                }
                &::before{ content: "<h3>"; }
                &::after{ content: "</h3>"; }
                
            }
        }
        .element{
            position: relative;
            &::before{
                content: "";
                top: 18px;
                left: 0;
                height: calc(100% - 35px);
                position: absolute;
                border-left: 1px solid rgba(255, 255, 255,.1);
            }
        }
    }
    
    .portfolio{
        display: grid;
        .container{
            position: relative;
            .pipeline{
                position: relative;
                &::before{
                    // top: 0;
                    left: -100%;
                    width: 200vw;
                    position: absolute;
                    content: " ";
                    border-top: 1px solid var(--white10);
                }
            }
        }
    }
    
}
.nav-menu{
    counter-reset: my-counter;
    li{
        position: relative;
        counter-increment: my-counter;
        &::before{
            content: counter(my-counter, decimal-leading-zero);
            display: inline-block;
            font-weight: 700;
            width: auto;
            right: 2.5rem;
            top: 0.65rem;
            line-height: .6em;
            font-family: "Roboto Mono";
            font-size: .6em;
            position: absolute;
            height: auto;
            opacity: .75;
        }
    }
}

.sidebar{
    position: fixed;
    display: flex;
    height: 100%;
    right: -100%;
    z-index: 300;
    top: 0;
    transition: right 500ms ease-in-out;
    -webkit-transition: right 500ms ease-in-out;

    ul{
        position: relative;
        top: 0;
        width: 300px;
        height: 100vh;
    }

    &::before{
        position: relative;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(20px);
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 300;
    }

    &.open{
        right: 0;
    }
}

@media print{
    section.cv{ 
        margin: 0;
        padding: 0;
        color-adjust: exact;
        print-color-adjust: exact; 
        -webkit-print-color-adjust: exact;
        page-break-inside: avoid;
    }
}